.table td,
.table th {
  text-align: center;
}

#vultrBackupsContainer,
#vultrDNSContainer,
#vultrSSHContainer,
#vultrSnapshotsContainer,
#vultrSNAPSHOTContainer,
#vultrSCRIPTContainer,
#vultrCHARTSContainer,
#vultrMAINContainer {
  margin-top: 35px;
}

button[name="vultrUpdateAction"],
button[name="cloudCreateAction"],
button[name="vultrAddAction"] {
  margin-bottom: 20px;
}

#addSSHKeyForm {
  margin-top: 20px;
}

div#vultrAjaxLoader {
  height: 86px;
  margin-bottom: -80px;
  position: relative;
}

#vultrMAINContainer .row {
  margin-top: 15px;
}

div.product-details-tab-container
  div#domain
  > div.row:not(.module-client-area) {
  display: none;
}

#vultr_power_status,
#vultr_server_state,
#vultr_vm_status {
  text-transform: capitalize;
}

.btn-group-justified {
  padding: 0px !important;
}

div#vultrSCRIPTContainer table {
  table-layout: fixed;
  word-wrap: break-word;
}

.refresh-loader {
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#vultr_label_form input {
  margin-bottom: 5px;
}
