#contentarea > div > h1{
    display: none;
}

#tab_content div.MGBootstrap{
    margin:0 5px!important;
}

#tab_content{
    text-align: inherit;
}

.MGBootstrap {
  padding: 10px;
}

.MGBootstrap .navbar-default{
    padding:10px 0;
}

.MGBootstrap .mg-logo {
    background: url("../images/logo_vultr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 27px;
    margin: 5px 0;
    width: 160px;
    display:block;
}

.MGBootstrap .slogan {
    display: block;
    height: auto;
    padding: 3px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 8px;
    width: 200px;
    background-color: #1c4b8c;
    border-radius:2px;
}

.MGBootstrap .slogan *{
    color: #fff;
    display: inline-block;
}

.MGBootstrap .navbar-nav{
    padding:10px 10px 0;
}

.MGBootstrap .navbar-nav li{
    margin:0 5px;
}

.MGBootstrap .navbar-nav a.btn,
.MGBootstrap .navbar-nav button.btn,
.MGBootstrap .navbar-nav .btn-group,
.MGBootstrap .navbar-nav .open a.btn{
    border:none!important;
    box-shadow:none;
}

.MGBootstrap .navbar-nav > li > a{
    padding:5px 10px;
}

.MGBootstrap .alert .close{
    margin-top: -6px;
}

.MGBootstrap .navbar-brand{
    padding:10px;
}

.MGBootstrap .dropdown-toggle{
    padding: 12px 8px;
}

.MGBootstrap .label-as-badge {
    border-radius: 1em;
}

.MGBootstrap .navbar-header i{
    font-size:35px;
    float: left;
}

.MGBootstrap .navbar-header strong{
    float: left;
    margin: 5px;
}
